html {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

p{
  line-height: 1.2;
}
h1  {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #4a4a4a;
  font-size: 2.7rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-weight: 400;
  color: #1B202B;
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h3{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color:#4a4a4a;
  line-height: 1.5;
}

h4{
  font-size:0.9rem;
  line-height: 1.5;
}

a{
  text-decoration: none;
  line-height: 1.5;
  color: #4a4a4a;
}
.img-mobile{
  display:none;
}
.course-mobile{
  display:none;
}

/*header section*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}

header .mobile {
  display: none;
}

/*header navigation*/

nav.desktop ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

nav.desktop a {
  margin-left: 16px;
  vertical-align: bottom;
  font-size: 1rem;
  color: #4a4a4a;
}

/*header logo*/

header .icon-text{
  text-decoration: none;
}

.logo{
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo a{
    font-size:1.2rem;
}
#mito{
  font-weight: 800;
  color:#4a4a4a;
  text-decoration: none;
}

#logija{
  font-weight: 300;
  color:#9b9b9b;
}

/*banner section*/

.banner{
  display: flex;
  padding: 32px 24px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

.banner-img {
  width: 60%;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 24px;
  max-width:30%;
}



/*course section*/

.course{
  background-color: #d8d8d8;
  padding-bottom: 16px;
}

#learning h1{
  text-align: center;
  padding-top:32px;
}

.course-subjects{
  margin: 32px 72px 32px 72px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
}

.subject{
  width: 30%;
  margin: 16px;
  padding-bottom: 24px;
}
.subject img{
  display: block;
  height: auto;
  width:100%;
}

#learning h4{
  margin:8px 0;
}

.subject-text{
  margin:16px;
  line-height: 1.6;
}



/*Footer*/
footer{
  border-top: 1px solid #d8d8d8;
  margin: 16px 0 0 24px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

/*Media queries for responsive design*/

@media only screen and (max-width:480px)  {

/*Header - Mobile*/
.desktop {
  width:100%;
}
.logo {
  display: none;
}

/*Banner - Mobile*/
.banner{
  display:flex;
  justify-content:flex-start; 
  flex-direction: column;
  padding: 0;
  margin: 0 auto;


}
.banner-img {
  width: 100%;
  height: auto;
  display: block;
}
.banner-content{
  max-width: 100%;
}

.btn-banner{
  margin-bottom:32px;
  align-self: center;
}


/*Course Mobile*/
.course{
  display:none;
}
.course-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.course-mobile a{
  width: 100%;
  margin-left:30px;
}
/*course buttons*/

.btn-course{
  background-color: #d8d8d8;
  border: none;
  color: black;
  padding: 16px 24px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 8px;
  cursor: pointer;
  width:90%;
}
.btn-course:hover{
  background-color: #edeeef;
}



/*Footer mobile*/


footer{
  align-items: left;
  border: none;
  margin:16px 0 0 16px;
}
}
